<h2 class="page-header">Attach Photo</h2>
<form enctype="multipart/form-data" method="POST" action="/users/ProfilePic">
  <p>  Please specify a file:<br></p>
    <input type="file" name="userPhoto">

    <button type="submit" class="btn btn-default">Attach</button>
</form>
<br>
<form method="get"  action="users/createPortfolio">
    <p>to do this later</p>
    <button type="submit" class="btn btn-default">Skip</button>
</form>
