 <h2 class="page-header">Dashboard</h2>
<p>Welcome {{username}}</p>

<img src="/{{photoname}}">
<br>
<form method="get" action="users/attachProfilePhotoSec">
  <button type="submit" class="btn btn-default">Attach</button>
</form>
<br>



<form method="get" action="users/work">
  <button type="submit" class="btn btn-default">Create Work</button>
</form>


<form method="get" action="projects/showWork">
  <button type="submit" class="btn btn-default">Show Work</button>
</form>
